    <tr data-link="#testcase/{{name}}">
        <td>
            <a href="#testcase/{{name}}">{{{stripSuiteName name}}}</a>
        </td>
        <td>
            <span class="label label-{{status}}">{{niceStatus status}}</span>
        </td>
        <td>{{time}}s</td>
    </tr>