<tr class="step-{{{result.status}}} {{#if parentStep}}has-parent{{/if}} {{#if steps}}is-parent{{/if}} {{#if @last}}last{{/if}}">
    <td>
        {{formatSequenceNumber this parentStepSequenceNumber}}
    </td>

    <td nowrap="nowrap">
        <div class="btn-group">
          {{stepKeyIcon this}}

          {{#if result.hasResultFile}}
            <a class="btn btn-info" href="results/{{{testCase.name}}}/{{{sequenceNumberString}}}.html">
              <i class="fa fa-download"></i>
            </a>
          {{/if}}

          {{#if result.hasScreenshot}}
            <a class="btn btn-info" href="results/{{{testCase.name}}}/{{{sequenceNumberString}}}.png">
              <i class="fa fa-camera"></i>
            </a>
          {{/if}}
        </div>
    </td>

    <td>{{#if_noteq result.status "NOT_YET_EXECUTED"}}
      {{#if time}}
        {{{ time }}}s
      {{/if}}
      {{/if_noteq}}
    </td>

    <td>{{{ blade.line }}}</td>

    <td>{{{ result.message }}}
        {{#if result.detailMessage}}
          <br/><br/>{{{ result.detailMessage }}}
        {{/if}}
    </td>
</tr>

{{#if steps}}
  {{#each steps}}
    {{> step testCase=../testCase parentStep=../. parentStepSequenceNumber=(formatSequenceNumber ../. ../parentStepSequenceNumber)}}
  {{/each}}
{{/if}}